body
{
    margin: 0;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-areas:
            "header header header"
            "sidebar main main"
            "footer footer footer";
    grid-gap: 10px;
}

.container
{
    grid-area: main;
    width: 100%;
    display: flex;
}

.header
{
    grid-area: header;
    color: white;
    background: #009958;
    width: 100%;
}

.container-main
{
    margin-left: 20px;
}

.sidebar
{
    grid-area: sidebar;
    background: #f0f0f1;
    width:  240px;
    height: 600px;
    padding: 10px;
}

aside
{
    margin-left: 10px;
    margin-top: 1px;
}

.banner
{
    margin-top: 25px;
    width: 100%;
    display: flex;
}

.banner .item
{
    width: 49%;
    background: #f0f0f1;
    margin: 0;
    padding: 10px 0 0 10px;
}

.banner .item p
{
    margin: 4px 10px 10px 0;
}

.banner .item:last-child
{
  margin-left: 10px;
}

.prodrybs
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ryb
{
    padding: 10px;
    margin-right: 2%;
    margin-bottom: 10px;
    background: #f0f0f1;
    width: 28%;
    display: flex;
}

.ryb .desc
{
    margin-left: 10px;
}

.ryb .desc .link
{
    margin-bottom: 17px;
    font-size: 17px;
}

.footer
{
    grid-area: footer;
    margin-top: 13px;
    background: #f0f0f1;
    padding: 15px;
    color: gray;
    display: flex;
}

.footer__item_contact
{
    width: 80%;
}

input
{
    background: #b2b2b2;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
}

h1
{
    font-size: 25px;
    padding: 15px;
}

h2
{
    padding: 0;
    margin: 10px 0;
    font-size: 35px;
}

h3
{
    padding: 0;
    font-size: 25px;
}

a
{
    color: dodgerblue;
    font-size: inherit;
}

p
{
    color: #737373;
}

.image
{
    background: #bbbbbb;
    width: 64px;
    height: 64px;
}
