*
{
    box-sizing: content-box;
}

body
{
    margin: 0px;
}

.container
{
    width: 100%;
    display: flex;
}

.header
{
    color: white;
    background: #009958;
    width: 100%;
}

.header h1
{
    font-size: 25px;
    padding: 15px;
}

.leftBlock
{
    background: #f0f0f1;
    width:  24%;
    height: 600px;
    padding: 10px;
}

.fish li
{
    display: block;
    margin-left: 10px;
    margin-top: 2px;
}

ol
{
    margin: 0px;
    padding: 0px;
}

.fish li label
{
    font-size: 15px;
}

.container-main
{
    width: 75%;
}

.container-main h2
{
    padding: 0px;
    margin: 10px 0px;
    font-size: 35px;
}

.banner
{
    margin-top: 25px;
    width: 100%;
    display: flex;
}

.banner .item
{
    width: 46%;
    display: inline-block;
    background: #f0f0f1;
    margin: 0px;
    padding: 10px 0px 0px 10px;
}

.banner .item p
{
    margin: 4px 10px 10px 0px;
}

.banner .item:last-child
{
  margin-left: 10px;
}

.mainContent h3
{
    padding: 0px;
    font-size: 25px;
}

.prodrybs
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ryb
{
    padding: 10px;
    margin-right: 2%;
    margin-bottom: 10px;
    background: #f0f0f1;
    width: 28%;
    display: flex;
}

.ryb .desc
{
    margin-left: 10px;
}

.ryb .desc input
{
    background: #b2b2b2;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
}

.ryb .desc .link
{
    margin-bottom: 17px;
    font-size: 17px;
}

a
{
    color: dodgerblue;
    font-size: inherit;
}

p
{
    color: #737373;
}

.image
{
    background: #bbbbbb;
    width: 64px;
    height: 64px;
}

.footer
{
    margin-top: 13px;
    background: #f0f0f1;
    padding: 15px;
    color: gray;
    display: flex;
}

.footer__item_contact
{
    width: 80%;
}
