body {
  margin: 0;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "header header header" "sidebar main main" "footer footer footer";
  grid-gap: 10px;
  height: 100vh;
  grid-template-rows: 60px 1fr 60px;
}
.container {
  grid-area: main;
  width: 100%;
}
.header {
  grid-area: header;
  color: white;
  background: #009958;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__loader
{
  width: 36px;
  height: 36px;
  background: #315881;
  border-radius: 100%;
  animation-name: fish_rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.header__loader2 {
  width: 36px;
  height: 36px;
  background: #315881;
  border-radius: 100%;
  animation-name: fish_rotate2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: inherit;
}

@keyframes fish_rotate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform:  rotate(360deg);
  }
}

@keyframes fish_rotate {
  from {
      transform: rotate(-20deg);
  }
  to {
      transform:  rotate(20deg);
  }
}

.header__theme {
  margin-right: 15px;
}
.sidebar {
  grid-area: sidebar;
  background: #f0f0f1;
  padding: 10px;
  height: 80vh;
}
aside {
  margin-left: 10px;
  margin-top: 1px;
}
.container__banner {
  margin-top: 25px;
  width: 100%;
  display: flex;
}
.container__banner__item {
  width: 49%;
  background: #f0f0f1;
  margin: 0;
  padding: 10px 0 0 10px;
}
.container__banner__item p {
  margin: 4px 10px 10px 0;
}
.container__banner .container__banner__item:last-child {
  margin-left: 10px;
}
.fishes {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.fishes__item {
  min-width: calc(25% + 55px);
  padding: 10px;
  margin-right: 6px;
  margin-bottom: 10px;
  background: #f0f0f1;
  display: flex;
  flex: 1;
  transition: all 0.7s ease;
}
.fishes__item:hover {
  background: #1560c7;
}

.fishes__item__image {
  width: 64px;
  height: 64px;
  border: dashed #737373;
}
.fishes__item .desc {
  margin-left: 10px;
}
.fishes__item .desc .link {
  margin-bottom: 17px;
  font-size: 17px;
}
.footer {
  grid-area: footer;
  margin-top: 5px;
  background: #f0f0f1;
  padding: 15px;
  color: gray;
  display: flex;
}
.footer__item {
  width: 100%;
  text-align: right;
}
input {
  background: #b2b2b2;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
}
h1 {
  font-size: 25px;
  padding-left: 15px;
}
h2 {
  padding: 0;
  margin: 10px 0;
  font-size: 35px;
}
h3 {
  padding: 0;
  font-size: 25px;
}
h4 {
  padding: 0;
  margin: 0;
  font-style: inherit;
}
a {
  color: dodgerblue;
  font-size: inherit;
}
p {
  color: #737373;
}
body {
  height: 100vh;
  margin: 0 auto;
}
@media (max-width: 520px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-areas: "header header" "main main" "footer footer";
    grid-gap: 10px;
  }
  .sidebar {
    display: none;
  }
  h1 {
    font-size: 20px;
  }
}
