.user {
    background-color: #FFFFFF;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    padding: 1rem 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.user_dark{
    background-color: #383838;
}

.user__img_wrapper{
    width: 220px;
    height: 220px;
    overflow: hidden;
    border: 1px #C2C2C2 dotted;
    border-radius: 0.1rem;
}

.img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user__img_wrapper_dark{
    border: 1px #606060 dotted;
}

.user__img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 1px #C2C2C2 dotted;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.user__user_name{
    padding: 1rem 0 1rem 1rem;
    flex-grow: 1;
}

@media (min-width: 576px) {
    .user {
        width: calc(50% - 1.25rem);
    }
}

@media (min-width: 992px) {
    .user{
        width: calc(1/4*100% - (3 - 1/4)*0.5rem);
    }
    .user:not(:nth-of-type(3n)){
        margin-right: 0.5rem;
    }
}