.buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader
{
    text-align: center;
}

table
{
    margin: auto;
    background: #6c6c6c;
    color: #d9d9d9;
}

thead
{
    background: #009958;
}

td
{
    width: 100px;
    padding: 3px 5px;
}

input
{
    margin: 5px;
    border-radius: 5px;
    width: 100px;
    border-color: #008dbd;
}