.pages{
    display: flex;
    flex-wrap: wrap;
}

.page{
    background-color: #ffffff;
    padding: 0.3rem 0.4rem;
    border: 1px solid #000000;
    margin-top: 0.4rem;
}

.page_dark{
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #626262;
}

.page:not(:last-child){
    margin-right: 0.4rem;
}

.page:hover{
    cursor: pointer;
}

.page_active {
    background-color: #ADD8E6;
    color: #ffffff;
}

.page_active_dark {
    background-color: #5d5d5d;
    color: #000000;
}