.header
{
    background-color: #ffffff;
    border-radius: 0.1rem;
}

.header__content
{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.header_dark {
    background-color: #001529;
}

.header__menu{
    padding-left: 1rem ;
}